.details--header {
  color: var(--gray-1);
  margin-bottom: 1.2rem;
}

.details--control {
  margin-bottom: 1.6rem;
}

.contact-details {
  margin-bottom: 4.5rem;
}

.saveInfo {
  align-items: center;
  color: var(--gray-2);
  display: flex;
  font-size: var(--font-size-10);
  margin-bottom: 2rem;
}

.saveInfo input {
  margin-right: 0.8rem;
}

@media only screen and (min-width: 1024px) {
  .details--header {
    font-size: var(--font-size-18);
  }
  .contact-details {
    margin-bottom: 5.8rem;
  }
  .saveInfo {
    font-size: var(--font-size-12);
  }
}
